/* VARIABLES */
:root {
    /* colors */
    --ms_dark-color: rgb(0,0,0);
    --ms_blue-color: rgb(13,10,253);
    --ms_red-color: rgb(220,53,69);


}

/* COMMON */

html{
    font-size: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}


.ms_container {
    width: 95%;
    max-width: 1470x;
    margin:  auto;
}

.ms_jumbotron-repeated {
    margin-bottom: 2rem;
    padding-top: 20rem;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    color: white;
}
 /* BTN-COMMON */

 .ms_btn{
    border-radius: 50px;
    color: white;
    padding: .5em 1em;
 }
 .ms_btn-red{
     background-color: red;
}
.ms_btn-blue{
    background-color: blue;
}
.ms_btn-large{
    border-radius: 50px;
    color: white;
    padding: .5em 1em;
    background-color: blue;

}
    /* /BTN-COMMON */


/*   <!-- HEADER --> */
.ms_header-top img{
    width: 5rem;
}
/* .ms_header-bottom */

.ms_nav-link img{
    width: 0.6rem;
    margin-left: .4rem;
    vertical-align: middle;
}


.ms_lens-style img{
    width: 2rem;
}


/* <!-- /HEADER --> */

/* MAIN BANNER */
.ms_jumbotron {
    background-image: url(../img/jumbo-bg.png);

}

/* /MAIN BANNER */
/* MINI-JUMBOS */
.mini-jumbos img{
    border-radius: .8rem;
}
/* /MINI-JUMBOS */

/* MAIN PLAYSTATION PRODUCTS */
.ms_products img{
    width: 50%;

}
.ms_products{
    text-align: center;
}
/* /MAIN PLAYSTATION PRODUCTS */

/* 2nd Jumbotron */

.ms_2ndjumbotron{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* /2nd Jumbotron */

/* NUOVE-USCITE */
.ms_nuove-uscite h3, h4{
    color: white;

}
/* /NUOVE-USCITE */


/* BANNER-PLUS */
.ms_banner-plus{
    background-color: bisque;
}
.ms_banner-plus img{
    width: 50%;
}
.ms_btn-plus{
    color: blue;
    background-color: aliceblue;
}

/* /BANNER-PLUS */